<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path='atom.xml') }}">
  {% block extra_head %}{% endblock extra_head %}
</head>
<body>
  <nav>
    <a href="{{ get_url(path='') }}">home</a>
    <a href="{{ get_url(path='writing') }}">writing</a>
    <a href="{{ get_url(path='stuff') }}">stuff</a>
  </nav>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>
  </footer>
</body>
</html>
